@import "../styles/mixins.scss";

.main-title {
  font-size: 3rem;
  font-family: var(--secondary-font-family);
  margin-bottom: 1.5rem;
}

.form {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  min-width: 35vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
  backface-visibility: hidden;
  transition: 1s transform;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  @include respond(phone) {
    min-width: 60vw;
  }
  @include respond(tab-port) {
    min-width: 65vw;
  }
  @include respond(tab-land) {
    min-width: 80vw;
  }
}
