@import "../styles/mixins.scss";

.img {
  position: fixed;
  top: 4rem;
  left: 4rem;
  object-fit: cover;
  width: 8rem;
  @include respond(phone) {
    top: 2rem;
    left: 2rem;
    width: 6rem;
  }
}
