@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Luckiest+Guy&display=swap");

:root {
  --main-font-family: "Chilanka", cursive;
  --secondary-font-family: "Luckiest Guy", cursive;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
body {
  font-family: var(--main-font-family);
}

input,
select {
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
}

.rotate-orgin {
  transform: translate(-50%, -50%) rotateY(0);
}

.rotate-reverse {
  transform: translate(-50%, -50%) rotateY(180deg);
}
